*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

main {
    padding: 1rem;
    flex-grow: 1;
    padding: 1rem;
}

ul{
    display: flex;
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

li{
    padding: 4px;
}

#contador{
    display: flex;
    background-color:white;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#botones-sep{
   margin-left: 1rem;
   margin-bottom: 1rem;
}

#header{
    height: 10%;
}

 #agregar-carrito{
    display: flex;
    background-color:white;
    justify-content:center;
    flex-direction: row;
    flex-wrap: nowrap;

}

#item{
    transition: 'all 0.4s ease';
}

#item:hover{
    transform: scale(1.05);
}

footer{
    max-height: 2rem;
    padding: 0.5rem 0;
    text-align: center;
}